.image-box {
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
        font-size: 1.5em;
    }

    div {
        width: 700px;
        display: flex;
        justify-content: center;
    }

    input[type='text'] {
        width: 300px;
        background: transparent;
        border: none;
        border-bottom: 2px black solid;
        margin-right: 50px;
        &:focus {
            outline: none;
        }
    }
}    
